// Size
$small: 1rem;
$medium: 1.6rem;
$s-large: 2rem;
$large: 2.5rem;
$x-large: 3.5rem;

// Weight
$light: 300;
$normal: 400;
$bold: 600;
$bolder: 800;

// colors
$white: #fff;
$akcent: #2b1d6a;
$contrast: #ff8402;
$shadow: rgba(0,0,0,.1);
$font: #444;

// Breakpoints

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;