@import '../components/aboutMe/progress';
@import '../components/container';
@import '../components/aboutMe/card';
.aboutMe {
    &__header {
        @include headers;
    }
    &__content {
        &-text {
            padding-top: $x-large + 2rem;
            h4 {
                font-size: $x-large + 2rem;
                font-weight: $bolder;
                color: $font;
            }
            p {
                padding: $s-large 0;
            }
        }
    }
    &__cards {
        background-color: #f1f8ff;
        padding: 10rem auto;
        border: 1px solid transparent;
    }
}